.App {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80vw;
  height: 100%;
  background: rgb(255, 255, 255);
}

.Header {
  background-image: url("./assets/images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;
  padding-left: 20px;
  color: rgb(7, 7, 7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.15);
}

.Profiles-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgb(233, 233, 233);
  padding-top: 20px;
  padding-bottom: 20px;
}